﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="navbar-nav">

            <li class="nav-item"><a class="nav-link" , id="NotificationLink" href="/Account/Login" data-toggle="modal" data-target="#exampleModalLong">Notifications <span id="notificationBadge" class="badge badge-danger"></span></a></li>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })*@
            <li class="nav-item"><a class="nav-link" id="navupdateProfileDataButton" href="#" data-toggle="modal" data-target="#UpdateProfileModal">Hello! @User.Identity.GetUserName()</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-link">@Html.ActionLink("SIGN IN / SIGN UP", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>

    </ul>
}
@Html.Partial("RequestListNotificationPartial")

