﻿<!DOCTYPE html>
<html>
<head>
    <link  rel="stylesheet" type="text/css" href="~/Content/NotificationStyle.css"/>
</head>
<body>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content notificationsModal">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Notifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="listNotifications" class="list-group">

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="buttonClose" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @if (User.IsInRole("company"))
    {
        <script src="~/Scripts/KSScripts/GetCompanyNotifications.js" type="text/javascript"></script>
        <script src="~/Scripts/KSScripts/ManageCompanyNotifications.js" type="text/javascript"></script>
    }
    else
    {
        <script src="~/Scripts/KSScripts/getNotifications.js" type="text/javascript"></script>
        <script src="~/Scripts/KSScripts/ManageNotifications.js" type="text/javascript"></script>
    }

</body>
</html>


