﻿@model RequestApplication.Models.RegisterViewModel

<body>

    <main id="main" class="align-middle bg-page">
        <div class="container">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-login", role = "form", enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.Hidden("userType", "customer")
                <h4>Create a new <b>Customer</b> account.</h4>
                <hr />
                <div>
                    <div class="field-area">
                        <div>
                            @Html.LabelFor(m => m.Email, new { @class = "label" })
                        </div>
                        <div class="field">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="field-area">
                        <div>
                            @Html.LabelFor(m => m.Password, new { @class = "label" })
                        </div>
                        <div class="field">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="field-area">
                        <div>
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                        </div>
                        <div class="field">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="field-area">
                        <div>
                            @Html.LabelFor(m => m.CustomerViewModel.FirstName, new { @class = "label" })
                        </div>
                        <div class="field">
                            @Html.TextBoxFor(m => m.CustomerViewModel.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="field-area">
                        <div>
                            @Html.LabelFor(m => m.CustomerViewModel.LastName, new { @class = "label" })
                        </div>
                        <div class="field">
                            @Html.TextBoxFor(m => m.CustomerViewModel.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="field-area">
                        @Html.LabelFor(m => m.CustomerViewModel.Gender, new { @class = "label" })
                        <div class="field">
                            @Html.DropDownListFor(m => m.CustomerViewModel.Gender, new SelectList(new[] { "male", "female" }), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="field-area">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "label" })
                        <div class="field">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", })
                        </div>
                    </div>
                    <div class="field-area">
                        @Html.LabelFor(m => m.CustomerViewModel.BirthDate, new { @class = "label" })
                        <div class="" id="BirthDate">
                            @Html.EditorFor(m => m.CustomerViewModel.BirthDate, new { @class = "form-control", })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Photo</label>
                        <div class="col-md-10">
                            <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                        </div>
                    </div>

                    <div class="field-area">
                        <div class="col-md-offset-2 field">
                            <input type="submit" class="btn btn-primary" value="Register" />
                        </div>
                    </div>
                </div>
            }
            <div class="main-bg bg-signup"></div>
        </div>

    </main>

</body>
