﻿@using RequestApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@Styles.Render("~/Content/RegisterForm.css")
<div class="container bg-loginview">
    <div class="row">
        <div class="col-md-4">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field-area">
                        @Html.LabelFor(m => m.Email, new { @class = "label" })
                        <div class="field">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="field-area">
                        @Html.LabelFor(m => m.Password, new { @class = "label" })
                        <div class="field">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="field-area">
                        <div class="field">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="field-area">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" onclick="return onLogin();" class="btn btn-primary" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                }
            </section>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function onLogin() {
        $.ajax({
            type: 'POST',
            url: '/token',
            data: {
                grant_type: 'password',
                username: $('#Email').val(),
                password: $('#Password').val()
            },
            success: function (data) {
                console.log(data);
           
                sessionStorage.setItem('tokenKey', data.access_token);
                //console.log(data.access_token);
                $('.form-login').submit();
            },
            fail: function (data) {
                console.log(data);
            }
        });

        return false;
    }
</script>