﻿@*@model RequestApplication.Models.OrderHistoryMessagesVM*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="~/Scripts/jquery-3.3.1.js"></script>
@Styles.Render("~/Content/FileForChat.css")

<div>
    <h1>ASP.NET</h1>
</div>
<button id="btnMessages" data-order-id="1" data-request-id="3" onclick="getOrderHistories(btnMessages)">
    Show the messages1
</button>


<button id="btnMessages2" data-order-id="23" data-request-id="3" onclick="getOrderHistories(btnMessages2)">
    Show the messages2
</button>

<div id="Messages">
    <div class="row">
        <div class="timeline-centered">
        </div>
    </div>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample" role="button" aria-expanded="false" aria-controls="multiCollapseExample">Toggle first element</a>
</p>
<div class="collapse multi-collapse" id="multiCollapseExample">
    <div class="card-body col-md-4" style="background-color:lightcyan;">
        <h4>Change the data</h4>
        <hr />
        <form name="postform" id="postform" class="form-horizontal">
            <div class="form-group">
                <label class="h4">Price</label>
                <input placeholder="Price" type="number" min="1" id="txtPrice" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="h4">Date</label>
                <input type="date" id="txtDate" class="form-control" min="2018-10-18" max="2018-10-20" value="" required />
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/SashaScripts/CreateOfBlocks.js" type="text/javascript"></script>
<script src="~/Scripts/SashaScripts/CreateOrderHistory.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/KSScripts/CreateChangeDataForm.js"></script>
<script type="text/javascript" src="~/Scripts/KSScripts/ChangeOrderForm.js"></script>