﻿
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/CustomerPageStyle.css")
@Styles.Render("~/Content/FileForChat.css")
@*Buttons*@
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary" id="btnRequests">
                My Requests
            </button>
        </div>

        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RequestCreationModal" id="buttonLaunch">
                Create Request
            </button>
        </div>
    </div>

</div>



@*form*@
<div id="requstPage"></div>

<div class="container main-block">
    <div class="row">

        @*Request form*@

        <div class="col requests-container" id="tabs">

            @*Header*@
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#all" data-toggle="tab" role="tab">
                            All <span class="badge badge-light">2</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#new" data-toggle="tab" role="tab">
                            New <span class="badge badge-light">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pending" data-toggle="tab" role="tab">
                            Pending
                            <span class="badge badge-light">6</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab" role="tab">
                            Done <span class="badge badge-light">1</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab" role="tab">
                            Canceled
                            <span class="badge badge-light">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab" role="tab">
                            Archived
                            <span class="badge badge-light">5</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-filter"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Filter by</a>
                            <a class="dropdown-item" href="#">Filter by</a>
                            <a class="dropdown-item" href="#">Filter by</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-sort"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Sort by</a>
                            <a class="dropdown-item" href="#">Sort by</a>
                            <a class="dropdown-item" href="#">Sort by</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="items" id="requestList">
                <div class="container" id="allList">

                </div>
                <div class="container tab-pane fade" role="tabpanel" id="pending"></div>
                <div class="container tab-pane fade" role="tabpanel" id="done"></div>
                <div class="container tab-pane fade" role="tabpanel" id="canceled"></div>
                <div class="container tab-pane fade" role="tabpanel" id="archived"></div>
            </div>
            <nav class="nav-pagination d-flex justify-content-center align-items-end" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        @*Company form*@
        @*<div class="col requests-container" id="tabs">
            <div class="items" id="requestList">
                <div class="container" id="comList"></div>
            </div>
        </div>
        <div class="col requests-container" id="tabs">
            <div class="items" id="requestList">
                <div class="container" id="orderList"></div>
            </div>
        </div>*@
    </div>
</div>

<!-- Create Request Modal -->
<div class="modal carousel-fade" id="RequestCreationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Request Creation</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="requestCreationPopupBody">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Category</label>
                        <div class="col-md-10">
                            <select id="categoryDropDownList" class="form-control"></select>
                        </div>
                    </div>
                </div>


                <div class="form-group" id="offers">
                    <label class="col-md-2 control-label">Offer</label>
                    <div class="col-md-10">
                        <select id="offerDropDownList" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Title</label>
                    <div class="col-md-10">
                        <input id="titleTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Min Price</label>
                    <div class="col-md-10">
                        <input id="minPriceTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Max Price</label>
                    <div class="col-md-10">
                        <input id="maxPriceTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Deadline</label>
                    <div class="col-md-10">
                        <input id="deadlineTextBox" type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Descrition</label>
                    <div class="col-md-10">
                        <textarea id="descriptionTextBox" class="form-control"></textarea>
                    </div>
                </div>


            </form>

            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="createRequestButton" type="button" class="btn btn-primary" value="Create" />
            </div>
        </div>

        <div id="Messages">
            <div class="row">
                <div class="timeline-centered">
                </div>
            </div>
        </div>
    </div>
</div>



<!--Profile Update Modal-->
<div class="modal" id="UpdateProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Profile Update</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input id="nameTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Surname</label>
                    <div class="col-md-10">
                        <input id="surnameTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Birthday</label>
                    <div class="col-md-11">
                        <input id="birthdayTextBox" type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Email Adress</label>
                    <div class="col-md-10">
                        <input id="emailTextBox" type="text" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">Phone Number</label>
                    <div class="col-md-10">
                        <input id="phoneNumberTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Gender</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="saveProfileChanges" type="button" class="btn btn-primary" value="Save" />
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/MyScripts/limiter.js"></script>
<script src="~/Scripts/MyScripts/show-part.js"></script>
<script type="text/javascript" src="~/Scripts/ajax/request.js"></script>
<script src="~/Scripts/CreateNewRequest/CreateNewRequest.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/SashaScripts/CreateOrderHistory.js" type="text/javascript"></script>
