﻿﻿
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/CustomerPageStyle.css")
@Styles.Render("~/Content/FileForChat.css")
@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/ProfilePhotoStyle.css")
@Styles.Render("~/Content/ValidationStyle.css")
@Styles.Render("~/Content/jquery.ambiance.css")
<link href="/Content/jquery.ambiance.css" rel="stylesheet" />

@*Buttons*@

<div class="container-fluid">
    <div class="row">
        <div class="col" style="margin-top: -65px; margin-left: 150px">
            <img src="@Url.Action("GetCustomerPhoto", "Home" )" id="ProfilePhoto" />
            <p style="margin-left: 15px"> <label id="customerNameLabel"></label> <a href="#" data-toggle="modal" data-target="#UpdateProfileModal" id="updateProfileDataButton"><i class="fas fa-edit" aria-hidden="true"></i></a></p>
        </div>
        <div class="col"></div>
        <div class="col">
            <h5 id="TextMyRequest"></h5>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RequestCreationModal" id="buttonLaunch">
                Create Request
            </button>
        </div>
    </div>
</div>


@*form*@
<div id="requstPage"></div>

<div class="container main-block">
    <div class="row" id="addRow">

        @*Request form*@

        <div class="col requests-container" id="tabs">

            @*Header*@
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <div id="allRequests" class="nav-link active filterStatus" data-toggle="tab" role="tab">
                            <b>All</b> <span class="badge badge-light StatusCountValue"></span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link filterStatus" data-toggle="tab" role="tab" id="StatusNew">
                            <b> New</b> <span class="badge badge-light StatusCountValue"></span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link filterStatus" data-toggle="tab" role="tab" id="StatusPending">
                            <b>Pending</b>
                            <span class="badge badge-light StatusCountValue"></span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link filterStatus" data-toggle="tab" role="tab" id="StatusAccepted">
                            <b>Accepted</b> <span class="badge badge-light StatusCountValue"></span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link filterStatus" data-toggle="tab" role="tab" id="StatusCanceled">
                            <b>Canceled</b>
                            <span class="badge badge-light StatusCountValue"></span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link filterStatus" data-toggle="tab" role="tab" id="StatusArchived">
                            <b>Archived</b>
                            <span class="badge badge-light StatusCountValue"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="items" id="requestList">
                <div class="container" id="allList">

                </div>

            </div>
        </div>

    </div>
</div>

<!-- Create Request Modal -->
<div class="modal carousel-fade" id="RequestCreationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Request Creation</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="requestCreationPopupBody">
                <div class="modal-body">

                    <label id="invalidData" class="col-md-4 offset-2 errorLabel" style="display:none">Invalid data, try again please!</label>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Category</label>
                        <div class="col-md-10">
                            <select id="categoryDropDownList" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group" id="offers">
                        <label class="col-md-2 control-label">Offer</label>
                        <div class="col-md-10">
                            <select id="offerDropDownList" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Title</label>
                        <div class="col-md-10">
                            <input id="titleTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <label id="invalidPrice" class="m-md-3 errorLabel" style="display:none">Minimun price must be lower than maximum price!</label>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Min Price</label>
                        <div class="col-md-10">
                            <input id="minPriceTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Max Price</label>
                        <div class="col-md-10">
                            <input id="maxPriceTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Deadline</label>
                        <div class="col-md-10">
                            <input id="deadlineTextBox" type="date" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Descrition</label>
                        <div class="col-md-10">
                            <textarea id="descriptionTextBox" class="form-control"></textarea>
                        </div>
                    </div>


                </div>

            </form>
            <div class="modal-footer">
                <input id="closeRequestCreationModal" type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="createRequestButton" type="button" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </div>
</div>

<!-- Customer Data Update Modal -->
<div class="modal" id="UpdateProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Profile Update</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="updateProfileModalBody" enctype="multipart/form-data">

                <label id="invalidNameOrSurname" class="m-md-4 errorLabel" style="display:none">Enter correct Name and/or Surname please!</label>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input id="nameTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Surname</label>
                        <div class="col-md-10">
                            <input id="surnameTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Birthday</label>
                        <div class="col-md-11">
                            <input id="birthdayTextBox" type="date" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Gender</label>
                        <div class="col-md-10">
                            <select class="form-control" id="genderTextBox">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>

                    <label id="invalidPhoneNumber" class="m-md-3 errorLabel" style="display:none">Phone number must contain only numbers!</label>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Phone Number</label>
                        <div class="col-md-10">
                            <input id="phoneNumberTextBox" type="text" class="form-control">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input id="closeCustomerDataUpdateModal" type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                    <input id="saveProfileChangesButton" type="button" class="btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="~/Scripts/jquery.ambiance.js"></script>
<script src="~/Scripts/MyScripts/limiter.js"></script>
<script src="~/Scripts/MyScripts/show-part.js"></script>
<script src="~/Scripts/StatusesEnum/StatusesEnum.js"></script>
<script type="text/javascript" src="~/Scripts/KSScripts/RequestFiltring.js"></script>
<script type="text/javascript" src="~/Scripts/ajax/request.js"></script>
<script src="~/Scripts/SashaScripts/CreateOrderHistory.js" type="text/javascript"></script>
<script src="~/Scripts/KSScripts/CreateChangeDataForm.js" type="text/javascript"></script>
<script src="~/Scripts/KSScripts/ChangeOrderForm.js" type="text/javascript"></script>
<script src="~/Scripts/CustomerProfileDataUpdateValidation.js"></script>
<script src="~/Scripts/ProfileDataUpdate.js"></script>
<script src="~/Scripts/CreateNewRequest/RequestCreationValidation.js"></script>
<script src="~/Scripts/CreateNewRequest/CreateNewRequest.js"></script>
<script src="~/Scripts/ajax/ChangeStatusForRequest.js"></script>
@if (Request.IsAuthenticated)
{
    <script src="~/Scripts/KSScripts/GetNotificationsStatusCount.js"></script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}