﻿@{
    ViewBag.Title = "Home Page";
}

    <header id="head">
        <div class="container text-center">
            <blockquote class="blockquote">
                <h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1>
                <div class="tagline">Request: free orders</div>
                <p class="btn btn-primary" role="button">@Html.ActionLink("Register Customer", "Register", "Account", new { userType = "customer" }, new { @class = "registerLink" })</>
                <p class="btn btn-primary" role="button">@Html.ActionLink("Register Company", "Register", "Account", new { userType = "company" }, new { @class = "registerLink" })</p>
            </blockquote>
        </div>
    </header>
     <div class="container text-center">
        <br> <br>
        <h2 class="thin">The best place for solving everyday problems</h2>
    </div>
    
