﻿
@{
    ViewBag.Title = "FAQView";
}
<link rel="stylesheet" type="text/css" href="~/Content/FAQ.css" />
 <body style="background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rLwUJtihzjgcewdtc/videoblocks-question-mark-background-blue_blc2myj2f_thumbnail-full01.png)">
<div class="body">
    <div class='centerplease'>
       ReQuest Frequently Asked Questions
    </div>
    <br>

    <div class="content">
        <div>
            <input type="checkbox" id="question1" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question1" class="question">
                What does  ReQuest stand for?
            </label>
            <div class="answers">
                ReQuest purpose is to help customer and company find each other
            </div>
        </div>

        <div>
            <input type="checkbox" id="question2" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question2" class="question">
                Should I be registered to use the site?
            </label>
            <div class="answers">
                Yes, for using site you must be registered.
            </div>
        </div>

        <div>
            <input type="checkbox" id="question3" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question3" class="question">
                How I can do what i want to do?
            </label>
            <div class="answers">
               Just do it. We belive in you!
            </div>

        </div>
        <div>
            <input type="checkbox" id="question4" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question4" class="question">
               What i can if I have other question?
            </label>
            <div class="answers">
            You allways can call to our admin. Only for 9.99/per. min.
            </div>
        </div>
    </div>
</div> <!-- end of body !-->
     </body>

