﻿
@{
    ViewBag.Title = "News";
}



<html>
<head>

    <link rel="stylesheet" href="~/Content/News.css">

</head>
<body style="background-image:url('/Content/img/InfoImages/News background.png')">
    <h1><b>Request News</b></h1>

    <div class="container">

    <div class="card">
        <div class="card-body">
            <h2>Project News [11/11/2018]</h2>
            <div class="card" style="border-color:#ff3300">
                <div class="card-body">
                    <p>We almost ready. Some new pages add: "Our team", "F.A.Q".  </p>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h2>Project News [1/11/2018]</h2>
            <div class="card" style="border-color:#ff3300">
                <div class="card-body">
                    <p>"Customer page" is done. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>Project News [20/09/2018]</h2>
            <div class="card" style="border-color:#ff3300">
                <div class="card-body">
                    <p>Begin the project. Gods, help us!!!</p>
                </div>
            </div>
        </div>
    </div>
   
</div>

</body>
</html>

    