﻿
@{
    ViewBag.Title = "OurTeam";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="~/Content/OurTeam.css">
</head>
<body>
    <section class="gallery-block cards-gallery">
        <div class="container">
            <div class="heading">
                <h1>Our Team</h1>
            </div>
            <div class="heading">
                <h2>Teacher</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>

                <div class="col-md-2">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalEXpert">
                            <img src="~/Content/img/InfoImages/Expert.jpg" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Yuri Koshman</a></h6>
                            <p class="text-muted card-text">Expert</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalMentor">
                            <img src="~/Content/img/InfoImages/Mentor.png" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Ms Halyna</a></h6>
                            <p class="text-muted card-text">Mentor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                </div>

            </div>

            <div class="heading">
                <h2>Main team</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTeamGolovayko">
                            <img src="~/Content/img/InfoImages/Team.jpg" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Roman Holovaiko</a></h6>
                            <p class="text-muted card-text">ITA student</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTeamLuginich">
                            <img src="~/Content/img/InfoImages/Team.jpg" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Andrii Luhinich</a></h6>
                            <p class="text-muted card-text">ITA student</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTeamSemeniuk">
                            <img src="~/Content/img/InfoImages/Team.jpg" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Mykola Semeniuk</a></h6>
                            <p class="text-muted card-text">ITA student</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTeamPopov">
                            <img src="~/Content/img/InfoImages/Team.jpg" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">OleksandrPopov</a></h6>
                            <p class="text-muted card-text">ITA student</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTeamMitsan">
                            <img src="~/Content/img/InfoImages/Team.jpg" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Mitsan Oleksandr</a></h6>
                            <p class="text-muted card-text">ITA student</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading">
                <h2>The best leave us first</h2>
            </div>
            <div class="row">

                <div class="col-md-4">
                </div>

                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTraineeNestin">
                            <img src="~/Content/img/InfoImages/Trainee.png" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Yehor Nestin</a></h6>
                            <p class="text-muted card-text">Trainee</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" data-toggle="modal" href="#ModalTraineeV">
                            <img src="~/Content/img/InfoImages/Trainee.png" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">Vasyl Melnyk</a></h6>
                            <p class="text-muted card-text">Trainee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>

        </div>


        <div class="modal fade" id="ModalExpert" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                          Yuri Koshman is a senior in SoftServe, but a part-time expert for our team. He is a person who combines professionalism with intelligence and benevolence.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalMentor" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Halyna Vasilivna is our Mentor. Benevolent, reasonable and positive it`s a key word to discribe her.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTeamGolovayko" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Roman Golovayko is our Back-end and Github specialist.Purposeful, resourceful, quick learner.
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTeamLuginich" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Andrii Luhinich is our Front-end specialist. Wise, generous, hardworking.
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTeamSemeniuk" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Semeniuk is our JavaScript specialist.Cautious, clever, attentive to the details.
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalTeamPopov" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Alexander Popov is one of the most promising students at the moment. At our project he work well with front-end as a back-end. Cheerful, resourceful, hardworking.
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTeamMitsan" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Oleksandr Mitsan it a footer-man and header-boy. If anything going wrong, you always know who did this)
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTraineeNestin" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Short description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Yehor Nestin is the student from our team who become trainee in the "first wave". Perfectionist, hardworking, inquisitive.
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalTraineeV" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Vasyl Melnyk is the student from our team who become trainee in the "first wave". LINQ specialist with good knowledge of English.
                    </div>
                </div>
            </div>
        </div>


    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>$("#myModal").modal()</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>baguetteBox.run('.cards-gallery', { animation: 'slideIn' });</script>
</body>
</html>
