﻿
html,
body {
    height: 100%;
   /* font-size: 14px;*/
}



.main-block {
    padding: 2rem 1rem;

    width: 100%;
    
}

.requests-container, .order-container {
    height: 520px;
    padding: 1rem 0;
    /*border: 2px solid #FF8C00;*/
    border-radius: 15px;
    margin-right: 15px;
}

#tabs {
    border: 2px solid #FF8C00;
}

#tabs-company {
    border: 2px solid #FF8C00;
}

#tabsOrderHistory {
    border: 2px solid #FF8C00;
}

.nav-link {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
}

#tabs .nav-tabs li.nav-item a.nav-link {
    font-size:x-small;
    font-weight: 700;
    color: #cccccc;
}

    #tabs .nav-tabs li.nav-item a.nav-link.active #tabs-company {
        border-bottom: 3px solid #FF8C00;
        color: #212529;
    }



#tabs .nav-tabs li.nav-item.show a.nav-link i {
    color: #212529;
}

.dropdown-item:hover {
    background-color: #FF8C00;
}

.badge-light {
    padding: 2px 4px;
    color: #2c3e50 !important;
    background-color: white !important;
    border: 1px solid #cccccc;
}

.dropdown-toggle::after {
    display: none;
}

.items {
    height: 90%;
    overflow: auto;
}

.item {
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
    margin-bottom: 2px;
    border: 1px solid #FF8C00;
    border-radius: 10px;
    padding: 5px 15px 15px 5px;
    background-color: #fff;
}

    .item:hover {
        border: 2px solid #FF8C00;
        cursor: pointer;
    }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

    .logo > img {
        width: 80px;
        height: 80px;
        border-width: 2px;
    }

.item-info {
    margin-top: 20px;
   
}

.item-info-heading, .item-conditions, .item-toolbar, .item-description {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}

.item-info-heading {
    display: flex;
    
}

.item-title, .item-offer, .item-date, .item-price-scope, .item-description {
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.item-rating {
    padding-left: 15px;
    font-size:24px;
}

.item-deadline {
    padding-left: 50px;
}

.item-price {
    padding-left: 10px;
}

.order-deadline {
    padding-left: 25px;
}

.item-description {
    margin-top: 5px;
    
}

.order-description {
    margin-top: 5px;
}

.item-toolbar {
    align-self: flex-end;
    font-size: 1.1rem;
    margin-left: 0;
    padding-top: 30px;

}

    .item-toolbar > a {
        padding-left: 17px;
        padding-right: 17px;
        color: black;
        cursor: pointer;
    }

    .item-toolbar > span {
        margin-right: 15px;
    }

.status-badge {
    background-color: #95a5a6;
    color: #fff;
    padding-top: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.more-link {
    color: #337ab7;
}

.menu-right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50px;
}

    .menu-right-button > i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25%;
        color: #FF8C00;
        font-size: 30px;
        border: 1px solid #FF8C00;
        border-left: 0;
    }

.nav-pagination {
    height: 7%;
    padding-bottom: initial;
}

.orders-heading {
    display: flex;
    align-items: center;
    height: 33.55px;
    border-bottom: 1px solid #ecf0f1;
}

.switch {
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #FF8C00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FF8C00;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.page-link {
    color: black;
    background-color: white;
    border: 1px solid #ecf0f1;
}

    .page-link:hover, .page-item.active .page-link {
        background-color: #FF8C00;
        color: white;
    }


.copyright {
    background-color: #1a252f;
}
div#addRow {
    max-width: 1610px;
}

a.downButtonRequest:before {
  content:attr(data-description);
  box-sizing:border-box;
  display:block;
  background:rgba(0,0,0,.7);
  color:white;
  padding:20px;
  position:absolute;
  left:50%;
  top:-30px;
  margin-left:-100px;
  width:200px;
  height:65px;
  line-height:25px;
  border-radius:5px;
  opacity:0;
  transition:.25s ease-in-out;
}
