﻿/* import the fonts needed */
@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* body settings */
.body {
    font-family: Trebuchet MS, Charcoal, sans-serif;
    font-size: 100%;
    color: #0C1323;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
}

.question:hover {
    color: #cc3300;
}

.content {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    padding: 0 60px 0 0;
}

.centerplease {
    margin: 0 auto;
    width: 100vw;
    font-size: 150%;
    text-align: center;
    margin-top: 3em;
    padding: 5px;
}

.question {
    position: relative;
    background: #0C1323;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width: 100%;
    cursor: pointer;
    color: white;
}

.answers {
    background: #999;
    padding: 0px 15px;
    margin: 5px 0;
    height: 0;
    overflow: hidden;
    z-index: 15;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
}

.questions:checked ~ .answers {
    height: auto;
    opacity: 1;
    padding: 15px;
}

.plus {
    position: absolute;
    color: white;
    margin-left: 10px;
    z-index: 15;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
}
/* end of body settings */

    .body {
        font-size: 100%;
    }

 
