﻿ /* Header */
#head {
    background: #181015 url( ../images/bg_home.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}
.container-home {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: none;
}

    #head .lead {
        font-family: "Open sans", Helvetica, Arial;
        font-size: 44px;
        margin-bottom: 6px;
        color: white;
        line-height: 1.15em;
    }

    #head .tagline {
        color: rgba(255,255,255,0.75);
        margin-bottom: 25px;
    }

/*******************************/
/*         Navigatioin         */
/*******************************/

.navbar-inverse {
    border-radius: 0;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    min-height: 80px;
    padding-top: 15px;
    margin-bottom: 0;
}

    .A.navbar-inverse .navbar-brand img {
        margin-top: -8px;
    }
    
.navbar-nav .btn {
    border: 1px solid rgba(255, 255, 255, .2);
    margin-left: 1px;
    margin-top: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.navbar-collapse {
    border: 0 none;
    border-top: 0 none;
    box-shadow: none;
}

/*******************************/
/*          Buttons            */
/*******************************/
.btn {
    padding: 10px 40px;
    font-weight: bold;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;
}

.btn-lg {
    padding: 15px 65px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
}
.btn-primary {
    color: #FFEFD7;
    background-image: -webkit-linear-gradient(top, #FF9B22 0%, #FF8C00 100%);
    background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9B22', endColorstr='#ffFF8C00', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 0 none;
}


.active > a:link {
    background: rgba(255, 255, 255, .1);
    color: white;
}
.registerLink {
    color: white;
}
#H5T {
    color:aliceblue;
}
.body {
    min-height:95%;
}

html{
    max-width:100vw;
}







 












