.newNotification {
    background-image: linear-gradient(to bottom right, rgba(78, 194, 252, 0.33), rgba(250, 216, 123, 0.09));
}
.trueNotification {
    background-image: linear-gradient(to top left, rgba(255, 106, 0, 0.22), rgba(88, 88, 88, 0.09));
}

.trueNotificationOnMO {
    background-image: linear-gradient(to bottom right, rgba(254, 211, 181, 0.54), rgba(88, 88, 88, 0.09));
    border-style: inset;
}

#divContent {
    background-color: rgb(120, 13, 225);
}
#divContentCustomer {
    background-color: #63B5F7;
    color: white;
    margin-left: 70px;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(255, 106, 0));
}

.notificationsModal {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.44), rgba(255, 106, 0, 0.09));
}

#divContentCompany {
    background-color: #63B5F7;
    color: white;
    margin-left: 55px;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(255, 216, 0));
    margin-right:15px;
}
.dollarSign{
    color:mediumseagreen;
}
.calendarSign{
    color:rgba(237, 58, 0, 0.87)
}
.userSign{
    color:orange;
}