﻿#main .main-bg.bg-signup {
    background-image: url("/Images/bg_nwt.jpg");
}
#main .main-bg {
    background: #181015 url("/Images/bg_nwt.jpg")no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-loginview {
    background: #181015 url("/Images/bg_reg.png")no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}




#main {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #f5f5f5;
}
#main .container{
    padding-top: 20px;
    padding-bottom: 77px;
} 

#main * {
    z-index: 3;
    position: relative;
}

.container-register {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: none;
}



.alight-middle{
    vertical-align: middle;
}

.form-login{
    color:#12161a;
    background: #7cabf5;
    max-width: 392px;
    position: relative;
    margin: 0 0 0 auto;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.28571;
    padding: 30px 30px 30px 30px;
}

.form-control{
    display:block;
    width:100%;
    height:46px;
    padding:6px 12px;
    font-size:16px;
    line-height:1.5;
    color:#283224;
    background-color:#fff;
    background-image:none;
    border:1px solid #cbc9c9;
    border-radius:4px;
}
    .form-login label {
        padding: 0;
        color: #000;
        font-size: 14px;
        margin: 0 0 12px;
        font-weight: 400;
        text-transform: uppercase;
    }

    label{
        display:inline-block;
        max-width:100%;
    }
.form-login .field{
    position:relative;
}
.fieldset{
    padding:0;
    margin: 0;
    border:0;
    min-width:0;
}
.form-login .field-area{
    margin: 0 0 15px;
    position:relative;
}

