﻿
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html,
body {
    height: 100%;
}

.darker {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.right {
    float: right;
    color: #aaa;
}

.left {
    float: left;
    color: #999;
}

.col-4,
.btn-link {
    border: 1px solid grey;
    text-align: left !important;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 14px !important;
}
div#tabs {
    min-width: 550px;
}