﻿<div class="text-block">
    <p style="margin-left:55px">Full Name <a href="#" data-toggle="modal" data-target="#UpdateProfileModal" id="updproftbbn"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RequestCreationModal" id="buttonLaunch">
    Create Request
</button>

<!--Profile Update Modal-->
<div class="modal" id="UpdateProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Profile Update</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input id="nameTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Surname</label>
                    <div class="col-md-10">
                        <input id="surnameTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Birthday</label>
                    <div class="col-md-11">
                        <input id="birthdayTextBox" type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Email Adress</label>
                    <div class="col-md-10">
                        <input id="emailTextBox" type="text" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">Phone Number</label>
                    <div class="col-md-10">
                        <input id="phoneNumberTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Gender</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="saveProfileChanges" type="button" class="btn btn-primary" value="Save" />
            </div>

        </div>
    </div>
</div>

<!-- Create Request Modal -->
<div class="modal carousel-fade" id="RequestCreationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Request Creation</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="requestCreationPopupBody">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Category</label>
                        <div class="col-md-10">
                            <select id="categoryDropDownList" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group" id="offers">
                        <label class="col-md-2 control-label">Offer</label>
                        <div class="col-md-10">
                            <select id="offerDropDownList" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Title</label>
                        <div class="col-md-10">
                            <input id="titleTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Min Price</label>
                        <div class="col-md-10">
                            <input id="minPriceTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Max Price</label>
                        <div class="col-md-10">
                            <input id="maxPriceTextBox" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Deadline</label>
                        <div class="col-md-10">
                            <input id="deadlineTextBox" type="date" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Descrition</label>
                        <div class="col-md-10">
                            <textarea id="descriptionTextBox" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
            </form>

            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="createRequestButton" type="button" class="btn btn-primary" value="Create" />
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script src="~/Scripts/CreateNewRequest/CreateNewRequest.js"></script>
    