﻿@Styles.Render("~/Content/css")
@Styles.Render("~/Content/CustomerPageStyle.css")
@Styles.Render("~/Content/FileForChat.css")
@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/CompanyProfilePhotoStyle.css")
@Styles.Render("~/Content/ValidationStyle.css")
<link href="/Content/jquery.ambiance.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

@*Buttons*@

<div class="container-fluid">
    <div class="row">
        <div class="col" style="margin-top: -65px; margin-left: 150px">
            <img src="@Url.Action("GetCompanyPhoto", "Home" )" id="CompanyProfilePhoto" />
            <p style="margin-left: 35px"> <label id="companyNameLabel"></label> <a class="fas fa-edit" href="#" data-toggle="modal" data-target="#UpdateCompanyProfileModal" id="updateCompanyProfileDataButton"></a></p>
        </div>
        <div class="col"></div>
        <div class="col">
            <h5 id="TextMyRequest"></h5>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ManageOffersModal" id="manageOffersButton">
                Manage offers
            </button>
        </div>
    </div>

</div>


@*form*@
<div id="requstPage"></div>

<div class="container main-block">
    <div class="row" id="addRow">

    </div>
</div>

<!-- Manage Offers Modal -->
<div class="modal carousel-fade" id="ManageOffersModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Manage Offers</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="manageOffersModalForm">
                <div class="modal-body" id="manageOffersModalBody">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Category</label>
                        <div class="col-md-10">
                            <select id="categoryCompanyDropDownList" class="form-control"></select>
                        </div>
                    </div>
                    <table class="table table-bordered" id="offerTableForCompany"></table>
                </div>
            </form>

            <div class="modal-footer">
                <input id="closeManageOffersModal" type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="saveManagedOffersButton" type="button" class="btn btn-primary" value="Save" />
            </div>
        </div>

    </div>
</div>



<div class="modal" id="UpdateCompanyProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Profile Update</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <label id="invalidCompanyNameOrAddress" class="m-md-4 errorLabel" style="display:none">Enter correct Name and/or Address please!</label>
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input id="companyNameTextBox" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Address</label>
                    <div class="col-md-10">
                        <input id="companyAddressTextBox" type="text" class="form-control">
                    </div>
                </div>

                <label id="invalidCompanyPhoneNumber" class="m-md-3 errorLabel" style="display:none">Phone number must contain only numbers!</label>

                <div class="form-group">
                    <label class="col-md-2 control-label">Phone Number</label>
                    <div class="col-md-10">
                        <input id="companyPhoneNumberTextBox" type="text" class="form-control">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input id="closeUpdateCompanyProfileModal" type="button" class="btn btn-danger" data-dismiss="modal" value="Close" />
                <input id="saveCompanyProfileChanges" type="button" class="btn btn-primary" value="Save" />
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="~/Scripts/jquery.ambiance.js"></script>
<script src="~/Scripts/MyScripts/limiter.js"></script>
<script src="~/Scripts/MyScripts/show-part.js"></script>
<script src="~/Scripts/StatusesEnum/StatusesEnum.js"></script>
<script type="text/javascript" src="~/Scripts/ajax/CompanyPage.js"></script>
<script src="~/Scripts/CompanyProfileDataUpdateValidation.js"></script>
<script type="text/javascript" src="~/Scripts/KSScripts/RequestFiltring.js"></script>
<script src="~/Scripts/KSScripts/CreateCompanyChangeDataForm.js" type="text/javascript"></script>
<script src="~/Scripts/KSScripts/ChangeOrderForm.js" type="text/javascript"></script>


<script src="~/Scripts/CompanyProfileDataUpdate.js"></script>
<script src="~/Scripts/SashaScripts/CreateOrderHistoryCompany.js" type="text/javascript"></script>
<script src="~/Scripts/ajax/ManageOffersForCompany.js"></script>

@if (User.IsInRole("company"))
{
    <script src="~/Scripts/KSScripts/GetCompanyNotificationsCount.js"></script>
}

@Scripts.Render("~/bundles/jqueryval")
}